[Unit]
Description=Anonymizing Overlay Network
After=network.target
PartOf=tor.service
ReloadPropagatedFrom=tor.service

[Service]
Type=simple
# Type=notify
# NotifyAccess=all
# PIDFile=/run/tor-instances/%i/tor.pid
ExecStartPre={{ tor_service_ExecStartPre }}
ExecStart={{ tor_executable_location }} --runasdaemon 0 -f /etc/tor/instances/{{ tor_instance }}/torrc --quiet
ExecReload=/bin/kill -HUP ${MAINPID}
ExecStop=/bin/kill -INT ${MAINPID}
TimeoutStartSec=300
TimeoutStopSec=60
Restart=on-failure
LimitNOFILE=65536

# Hardening
#NoNewPrivileges=yes
#PrivateTmp=yes
#PrivateDevices=yes
#ProtectHome=yes
#ProtectSystem=full
#ReadOnlyDirectories=/
## We would really like to restrict the next item to [..]/%i but we can't,
## as systemd does not support that yet.  See also #781730.
#ReadWriteDirectories=-/var/lib/tor-instances
#ReadWriteDirectories=-/run
#CapabilityBoundingSet=CAP_SETUID CAP_SETGID CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH


[Install]
WantedBy = multi-user.target
