# ansible generated torrc
{% if tor_LogDirectory is defined %}
Log notice file {{ tor_LogDirectory }}/log
{% endif %}
{% if tor_DataDirectory is defined %}
DataDirectory {{ tor_DataDirectory }}
{% endif %}
RunAsDaemon 1
{% if tor_User is defined %}
User {{ tor_User }}
{% endif %}
{% if tor_Group is defined %}
Group {{ tor_User }}
{% endif %}
{% if tor_VirtualAddrNetworkIPv4 is defined %}
VirtualAddrNetworkIPv4 {{ tor_VirtualAddrNetworkIPv4 }}
{% endif %}
{% if tor_VirtualAddrNetworkIPv6 is defined %}
VirtualAddrNetworkIPv6 {{ tor_VirtualAddrNetworkIPv6 }}
{% endif %}
{% if tor_AutomapHostsOnResolve is defined %}
AutomapHostsOnResolve {{ tor_AutomapHostsOnResolve }}
{% endif %}
{% if tor_TransPort is defined %}
TransPort {{ tor_TransPort }}
{% endif %}
{% if tor_DNSPort is defined %}
DNSPort {{ tor_DNSPort }}
{% endif %}
{% if tor_SocksBindAddress is defined %}
SocksBindAddress {{ tor_SocksBindAddress }}
{% endif %}
{% if tor_SocksPolicy is defined %}
SocksPolicy {{ tor_SocksPolicy }}
{% endif %}
{% if tor_AllowUnverifiedNodes is defined %}
AllowUnverifiedNodes {{ tor_AllowUnverifiedNodes }}
{% endif %}
{% if tor_DirServer is defined %}
DirServer {{ tor_DirServer }}
{% endif %}
{% if tor_HiddenServiceExcludeNodes is defined %}
HiddenServiceExcludeNodes {{ tor_HiddenServiceExcludeNodes }}
{% endif %}
{% if tor_HiddenServiceNodes is defined %}
HiddenServiceNodes {{ tor_HiddenServiceNodes }}
{% endif %}
{% if tor_Address is defined %}
Address {{ tor_Address }}
{% endif %}
{% if tor_ORBindAddress is defined %}
ORBindAddress {{ tor_ORBindAddress }}
{% endif %}
{% if tor_DirPort is defined %}
DirPort {{ tor_DirPort }}
{% endif %}
{% if tor_DirBindAddress is defined %}
DirBindAddress {{ tor_DirBindAddress }}
{% endif %}
{% if tor_RelayBandwidthRate is defined %}
RelayBandwidthRate {{ tor_RelayBandwidthRate }}
{% endif %}
{% if tor_RelayBandwidthBurst is defined %}
RelayBandwidthBurst {{ tor_RelayBandwidthBurst }}
{% endif %}
{% if tor_ControlPort is defined %}
ControlPort {{ tor_ControlPort }}
{% endif %}
{% if tor_CookieAuthentication is defined %}
CookieAuthentication {{ tor_CookieAuthentication }}
{% endif %}
{% if tor_HashedControlPassword is defined %}
HashedControlPassword {{ tor_HashedControlPassword }}
{% endif %}
{% if tor_Syslog is defined %}
Log {{ tor_Syslog }} syslog
{% endif %}
{% if tor_Nickname is defined %}
Nickname {{ tor_Nickname }}
{% endif %}
{% if tor_ContactInfo is defined %}
ContactInfo {{ tor_ContactInfo }}
{% endif %}
{% if tor_ExitPolicy is defined %}
ExitPolicy {{ tor_ExitPolicy }}
{% endif %}
{% if tor_ORPort is defined %}
ORPort {{ tor_ORPort }}
{% endif %}
{% if tor_ExtORPort is defined %}
ExtORPort {{ tor_ExtORPort }}
{% endif %}
{% if tor_BridgeRelay is defined %}
BridgeRelay {{ tor_BridgeRelay }}
{% endif %}
{% if tor_PublishServerDescriptor is defined %}
PublishServerDescriptor {{ tor_PublishServerDescriptor }}
{% endif %}
{% if tor_ServerTransportListenAddr is defined %}
ServerTransportListenAddr {{ tor_ServerTransportListenAddr }}
{% endif %}
{% if tor_ServerTransportPlugin is defined %}
ServerTransportPlugin {{ tor_ServerTransportPlugin }}
{% endif %}
{% if tor_ServerTransportOptions is defined %}
ServerTransportOptions {{ tor_ServerTransportOptions }}
{% endif %}
{% if tor_MyFamily is defined %}
MyFamily {{ tor_MyFamily }}
{% endif %}
{% if tor_ReachableAddresses is defined %}
ReachableAddresses {{ tor_ReachableAddresses }}
{% endif %}
{% if tor_SafeLogging is defined %}
SafeLogging {{ tor_SafeLogging }}
{% endif %}
{% if tor_SocksPort is defined %}
SocksPort {{ tor_SocksPort }}
{% endif %}
{% if tor_FascistFirewall is defined %}
FascistFirewall {{ tor_FascistFirewall }}
{% endif %}

{% if tor_UseBridges is defined %}
UseBridges {{ tor_UseBridges }}
{% endif %}
{% if tor_Bridges is defined %}
{% for tor_Bridge in tor_Bridges %}
Bridge {{ tor_Bridge }}
{% endfor %}
{% endif %}
{% if tor_ClientTransportPlugin is defined %}
ClientTransportPlugin {{ tor_ClientTransportPlugin }}
{% endif %}

{% if tor_HiddenServices is defined %}
{% for service in tor_HiddenServices %}
HiddenServiceDir {{ tor_DataDirectory }}/{{ service.name }}
HiddenServicePort {{ service.publish }} {{ service.target }}
{% if "HiddenServiceAuthorizeClients" in service %}
HiddenServiceAuthorizeClient stealth {{ ','.join(service.HiddenServiceAuthorizeClients) }}
{% endif %}
{% endfor %}
{% endif %}
# end of torrc