[options]
{% if knockd_interface is defined %}
    Interface = {{ knockd_interface }}
{% endif %}
{% if knockd_logfile is defined %}
	logfile = {{ knockd_logfile }}
{% endif %}
{% if knockd_UseSyslog is defined %}
{% if knockd_UseSyslog %}
	UseSyslog
{% endif %}
{% endif %}

{% if knockd_services is defined %}
{% for service in knockd_services %}
[{{ service.name }}]
    sequence    = {{ service.sequence }}
    seq_timeout = {{ service.seq_timeout }}
    tcpflags    = {{ service.tcpflags }}
    command = {{ service.command }}
{% endfor %}
{% endif %}