{% if tinc_Address is defined %}
Address = {{tinc_Address}}
{% endif %}
{% if tinc_Subnet is defined %}
Subnet = {{tinc_Subnet}}
{% endif %}
{% if tinc_Port is defined %}
Port = {{ tinc_Port }}
{% endif %}
{% if tinc_TCPonly is defined %}
TCPonly = {{ tinc_TCPonly }}
{% endif %}
{% if tinc_Compression is defined %}
Compression = {{ tinc_Compression }}
{% endif %}

{% if tinc_PublicKey is defined %}
PublicKey = {{ tinc_PublicKey }}
{% endif %}
{% if tinc_PublicKeyFile is defined %}
PublicKeyFile = {{ tinc_PublicKeyFile }}
{% endif %}
