[Unit]
Description=Evebox Service
After=syslog.target network-online.target

[Service]
ExecStart=/usr/bin/evebox {{evebox_type}} {{ evebox_service_options | join(" ") }}

[Install]
WantedBy=multi-user.target
